
.nav-row {

    input {
        text-align: center;
    }

    &__container {
        
        @media (width <= 800px) {
            padding: 0px;
            flex-flow: row wrap;
            padding: 0px;
        }
        
    }


    &__title {

        @media (width <= 800px) {
            padding: 0px;    
        }
        
    }

    &__search {

        @media (width <= 800px) {
            padding: 0px;
        }

    }

    &__container {

        @media (width <= 800px) {
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
        }

    }

    &__buttons {
        @media (width <= 800px) {
            display: none;
        }
    }

    &__btn {
        position: relative;

        &::after {
            content: '';
            display: flex;
            flex-flow: column wrap;
            width: 0%;
            
            height: 3px;
            
            background-color: red;
        }

        &:hover {
            background-color: white;
            color: black;

            &::after {
                content: '';
                
                width: 100%;
                
            }
        }
    }

    &__burger-button {
        
        @media (width > 800px) {
            display: none;
        }
    }
}