@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./null.scss');

#root {

  margin: 0 10vmax;

  @media (width <= 1000px) {
    margin: 0 7vmax;
  }

  @media (width <= 700px) {
    margin: 0;
  }

  display: grid;
  
  grid-template-areas: 
    'siteMenu siteMenu';

  grid-template-rows: 100dvh;
  

  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  grid-area: siteMenu;
  background-color: black;

}
